#
# Systemd unit file for Vasuki
#
# Install and activate service on server machine.
# https://github.com/daq-tools/vasuki/blob/master/doc/service.rst
#

[Unit]
Description=Vasuki - random unique identifiers, tokens and words
Documentation=https://github.com/daq-tools/vasuki
After=network.target

[Service]
User=daemon
Group=daemon
LimitNOFILE=65536
EnvironmentFile=-/etc/default/vasuki
ExecStart=/bin/sh -c "/opt/vasuki/bin/vasuki service --listen=localhost:24641 ${VASUKI_OPTS}"
KillMode=control-group
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=vasuki.service
