[Unit]
Description=Vasuki - random unique identifiers, tokens and words
Documentation=https://github.com/daq-tools/vasuki
After=network.target

# Install service on server machine.
# virtualenv /opt/vasuki
# /opt/vasuki/bin/pip install vasuki[service]

# Make available as global command.
# echo 'alias vasuki=/opt/vasuki/bin/vasuki' > /etc/profile.d/vasuki.sh

[Service]
User=daemon
Group=daemon
LimitNOFILE=65536
Environment='STDOUT=/var/log/vasuki.log'
Environment='STDERR=/var/log/vasuki.log'
EnvironmentFile=-/etc/default/vasuki
ExecStart=/bin/sh -c "/opt/vasuki/bin/vasuki service --listen=localhost:24641 ${VASUKI_OPTS} >>${STDOUT} 2>>${STDERR}"
KillMode=control-group
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=vasuki.service
