<!DOCTYPE html>
<html>

<head>

    <!-- Metadata -->
    <meta charset="utf-8"/>

    <title>Vasuki - random unique identifiers, tokens and words</title>

    <meta name="description"
          content="Vasuki generates different kinds of random unique identifiers, tokens and words. It aims to make identifier generation effortless. There might still be dragons.">
    <meta name="keywords" content="random, unique, identifier, token, word, generator, information, toolkit, service, uuid, ulid, gibberish, momentname, nagamani19">

    <meta property="og:title" content="Vasuki - random unique identifiers, tokens and words"/>
    <meta property="og:site_name" content="Vasuki token service">
    <meta property="og:description"
          content="Vasuki generates different kinds of random unique identifiers, tokens and words. It aims to make identifier generation effortless. There might still be dragons."/>
    <meta property="og:url" content="https://github.com/daq-tools/vasuki"/>
    <meta property="og:image" content="https://ptrace.hiveeyes.org/2019-06-29_vasuki-small.jpg"/>
    <meta property="og:image:secure_url" content="https://ptrace.hiveeyes.org/2019-06-29_vasuki-small.jpg"/>
    <meta property="og:type" content="website"/>

    <meta name="twitter:title" content="Vasuki - random unique identifiers, tokens and words">
    <meta name="twitter:description" content="Vasuki generates different kinds of random unique identifiers, tokens and words. It aims to make identifier generation effortless. There might still be dragons.">
    <meta name="twitter:image" content="https://ptrace.hiveeyes.org/2019-06-29_vasuki-small.jpg">
    <meta name="twitter:image:alt" content="Kurma Avatar of Vishnu, below Mount Mandara, with Vasuki wrapped around it, during Samudra manthan, the churning of the ocean of milk. ca 1870">
    <meta name="twitter:card" content="summary_large_image">

    <script type='application/ld+json'>{"@context":"https://schema.org","@type":"WebSite","@id":"#website","url":"https://github.com/daq-tools/vasuki","name":"Vasuki - random unique identifiers, tokens and words","logo":"https://ptrace.hiveeyes.org/2019-06-29_vasuki-small.jpg"}</script>


    <!-- Let browser know website is optimized for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/zilla-slab.css">
    <link rel="stylesheet" href="./static/vasuki.css?bust={{ cache_bust }}">
</head>

<body>

<h1>Vasuki - random unique identifiers, tokens and words</h1>

<ul>
    {% for item in index %}
    <li>
        <strong>{{ item.name or '' }}</strong> {{ item.description or '' }}
        <br/>
        <span class="item">
        <a class="item" href="./unique/{{ item.key }}">{{ item.key }}</a>
        </span>
        <span class="options">
        {% for param in item.get('params', []) %}
        <a href="./unique/{{ item.name }}?{{ param }}">[{{ param }}]</a>&nbsp;
        {% endfor %}
        </span>
    </li>
    {% endfor %}
</ul>

<hr/>

<small>
    <a href="https://github.com/daq-tools/vasuki">Vasuki on GitHub</a>
    |
    <a href="https://pypi.org/project/vasuki/">Vasuki on PyPI</a>
    |
    Install: <pre>pip install vasuki</pre>
</small>

<br/><br/>
<a target="_blank" href="https://en.wikipedia.org/wiki/Vasuki#/media/File:Kurma,_the_tortoise_incarnation_of_Vishnu.jpg">
<img width="150" src="https://ptrace.hiveeyes.org/2019-06-29_vasuki-small.jpg"/>
</a>

</body>

</html>
